
.reserve {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rContainer {
  height: 90vh;
  width: 50%;
  min-width: 300px;
  background-color: white;
  padding: 20px;
  position: relative;
}
.modal-container{
  overflow: scroll;
  height: 80%;
  width: 100%;
  background-color: white;

}
.modal-container::-webkit-scrollbar{
  display: none;
}
.rClose {
  cursor: pointer;
}

.rItem {
  margin-top: 5px;
  border-radius: 25px;
  background-color: rgb(251, 245, 245);
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.rInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rTitle {
  font-weight: 500;
  color: blue;
  text-transform: capitalize;
}

.rDesc {
  font-weight: 300;
  text-transform: capitalize;
}

.rMax {
  font-size: 12px;
}

.rPrice {
  font-weight: 700;
  font-size: large;
  color: green;
}

.rSelectRooms{
display: flex;
flex-wrap: wrap;
gap: 5px;
font-size: 8px;
justify-content: flex-start;
width: 30%;
color: gray;
align-items: flex-start;
}
.room{
  display: flex;
  flex-direction: column;
}

.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 50%;
  margin-top: 20px;
  max-width: 430px;
  min-width: none;
}
.rItemInfo{
  width: 70%;
}
.mHead{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
 
}
.headText{
  font-size: larger;
  font-weight: 700;
  color: blueviolet;
}
.modalFooter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.loading_icon{
  position: absolute;
  top:50%;
  z-index: 2;
}