.nav-box{
    background-color:#003580;
    height:55px;
    display:flex;
    justify-content: space-between;
    align-items:center
   
}
.nav-item{
    box-sizing:border-box;
    color:white;
    font-weight:bold ;
    font-size:larger;
    text-decoration: none;
    margin-left: 20px;
}
.auth{
   margin-right: 20px;
   text-transform: capitalize;
   height: 30px;
   width: 90px;
   border: 1px solid white;
   color: white;
   border-radius: 15px;
   display: flex;
   cursor: pointer;
   align-items: center;
   justify-content: center;
}
.wc{
    font-size: large;
    color: white;
    text-decoration: none;
}