.statusGIF{
    width: 40vw; 
    max-height: 90%;
    min-width: 200px;
    max-width: 400px;
}
.img-box{

width: 100%;
height: 50vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.statusModal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 100%;
}
.backButton{
    width: 100px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: green;
}
.successText{
    color: green;
    text-align: center;
}
.failedText{
    color: red;
    text-align: center;
}